<h1>Listing lunch_date_participants</h1>

<table>
  <tr>
    <th>Lunch date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lunch_date_participants.each do |lunch_date_participant| %>
  <tr>
    <td><%= lunch_date_participant.lunch_date_id %></td>
    <td><%= lunch_date_participant.user_id %></td>
    <td><%= link_to 'Show', lunch_date_participant %></td>
    <td><%= link_to 'Edit', edit_lunch_date_participant_path(lunch_date_participant) %></td>
    <td><%= link_to 'Destroy', lunch_date_participant, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lunch date participant', new_lunch_date_participant_path %>
