<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_id %><br />
    <%= f.number_field :date_id %>
  </div>
  <div class="field">
    <%= f.label :user1_id %><br />
    <%= f.number_field :user1_id %>
  </div>
  <div class="field">
    <%= f.label :user2_id %><br />
    <%= f.number_field :user2_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :groupnoms_link %><br />
    <%= f.text_field :groupnoms_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
