<h1>Listing matches</h1>

<table>
  <tr>
    <th>Date</th>
    <th>User1</th>
    <th>User2</th>
    <th>Restaurant</th>
    <th>Groupnoms link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.date_id %></td>
    <td><%= match.user1_id %></td>
    <td><%= match.user2_id %></td>
    <td><%= match.restaurant_id %></td>
    <td><%= match.groupnoms_link %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
